.sectionCardContainer{
    height: 250px;  
    width: 350px;
    border-radius: 15px;
    background-color: red;
}
.sectionCardContent{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    background-color: green;
}

.elementsIcon{
    font-size: 40px;
    color: black;
}